{% extends 'base.html' %}

{% block header %}
      <div class="jumbotron jumbotron-fluid" style="background-color: beige;" >
            <div class="container">
              <h1 class="display-4">CreateTodoList</h1>
              <p class="lead">This is a Create unit, Let's improve work efficiency</p>
            </div>
      </div>
{% endblock header%}


{% block content %}
    <form action="" method="POST">{% csrf_token %}
        <div class="container">
            {{ form.as_p }} <!--as_table,p, ul -->
            <input type="submit" value="create">
        </div>
    </form>

{% endblock content %}